<div class="tabbable"> 
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#tab1" data-toggle="tab">Create Bet</a></li>
    <li><a href="#tab2" data-toggle="tab">Change Bets That Have Not Started</a></li>
    <li><a href="#tab3" data-toggle="tab">Resolve Open Bets</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p> <%= render("admin/bets/new_bet") %> </p>
    </div>
    <div class="tab-pane" id="tab2">
      <%= Bet.not_started.each do |bet| %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab3">
    </div>
  </div>
</div>


<table class = "table table-bordered">
  <tr class = "info">
  <th colspan = "2">First Name:</th>
  </tr>
  <tr class ="info" >
    <th rowspan="2" colspan = "1">Telephone:</th>
    <td class = "warning">555 77 854 </td>
  </tr>
  <tr class = "warning">
    <td>555 77 855</td>
  </tr>
</table>
