<% month = Date::MONTHNAMES[bet.lock_time.month] %>
<% day = bet.lock_time.day %>
<% year = bet.lock_time.year %>
<% hour = bet.lock_time.year %>

<table class="table table-bordered" width="100%">
  <tr class="info">
    <th colspan ="2">Which will be More: <%= bet.metric1.topic %> or <%= bet.metric2.topic %></th>
  </tr>
  <tr class ="info" >
    <th rowspan="2" colspan="1" width="20%">Locks at: <%= December 31, 2013 5:00 PM</th>
    <td class="warning" width="80%">555 77 854 </td>
  </tr>
  <tr class="warning" >
    <td width="80%">555 77 855</td>
  </tr>
</table>

